<div class="col-sm-12 p-a-1">
    <button class="btn btn-outline-primary" routerLink="/">
        Home
    </button>
    <!-- <button class="btn btn-outline-primary btn-toolbar" routerLink="/category"> -->
    <button class="btn btn-outline-primary" routerLink="/category">
        Категории
    </button>
    <button class="btn btn-outline-primary" routerLink="/site">
        Сайты
    </button>
    <!-- <button class="btn btn-outline-primary" [class.active]=true>
        Запросы
    </button> -->
    <!-- <button class="btn btn-outline-primary" routerLink="/position">
        Позиции
    </button> -->
    <button class="btn btn-outline-primary" routerLink="/feedback">
        Предложения
    </button>
    <button class="btn btn-outline-primary" routerLink="/offer">
        Отзывы
    </button>
    <button class="btn btn-danger" routerLink="/admin">
        Admin
    </button>
</div>