<div class="navbar navbar-inverse bg-inverse">   
  <a class="navbar-brand">YSP</a>  
  <cart-summary></cart-summary>
</div>
<div class="col-sm-12 p-a-1 ">  
  <button class="btn btn-outline-primary" routerLink="/">
      Главная
  </button>
  <!-- <button class="btn btn-outline-primary btn-toolbar" routerLink="/category"> -->
  <button class="btn btn-outline-primary" routerLink="/category">
      Категории
  </button>
  <button class="btn btn-outline-primary" routerLink="/site">
      Сайты
  </button>
  <button class="btn btn-outline-primary" routerLink="/query">
      Запросы
  </button>
  <button class="btn btn-outline-primary" routerLink="/position">
      Позиции
  </button>
  <button class="btn btn-outline-primary" routerLink="/feedback">
      Предложения
  </button>
  <button class="btn btn-outline-primary" routerLink="/offer">
      Отзывы
  </button>
  <button class="btn btn-danger" routerLink="/admin">
      Admin
  </button>
</div>
<!-- <app-category></app-category> -->
<app-site></app-site>
<!-- <router-outlet></router-outlet> -->
