@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <address>
        <strong>Support:</strong>
        <email email-name="Support" email-domain="example.com"></email> <br />
        <strong>Marketing:</strong>
        <email email-name="Marketing" email-domain="example.com"></email>
    </address>
</div>
